<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>examapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login_authentication</servlet-name>
    <servlet-class>Login_authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_authentication</servlet-name>
    <url-pattern>/Login_authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addexam</servlet-name>
    <servlet-class>Addexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addexam</servlet-name>
    <url-pattern>/Addexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewexam</servlet-name>
    <servlet-class>viewexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewexam</servlet-name>
    <url-pattern>/viewexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registeruser</servlet-name>
    <servlet-class>Registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeruser</servlet-name>
    <url-pattern>/Registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Viewregisteruser</servlet-name>
    <servlet-class>Viewregisteruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewregisteruser</servlet-name>
    <url-pattern>/Viewregisteruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewQuestionBank</servlet-name>
    <servlet-class>Viewquestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuestionBank</servlet-name>
    <url-pattern>/ViewQuestionBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Editexam1</servlet-name>
    <servlet-class>Editexam1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editexam1</servlet-name>
    <url-pattern>/Editexam1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkduplicatesection</servlet-name>
    <servlet-class>Checkduplicatesection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkduplicatesection</servlet-name>
    <url-pattern>/Checkduplicatesection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Createquestionset</servlet-name>
    <servlet-class>Createquestionset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createquestionset</servlet-name>
    <url-pattern>/Createquestionset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Evaluateexam</servlet-name>
    <servlet-class>Evaluateexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Evaluateexam</servlet-name>
    <url-pattern>/Evaluateexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Testdate</servlet-name>
    <servlet-class>Testdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testdate</servlet-name>
    <url-pattern>/Testdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Startexam</servlet-name>
    <servlet-class>Startexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Startexam</servlet-name>
    <url-pattern>/Startexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Viewresults</servlet-name>
    <servlet-class>Viewresults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewresults</servlet-name>
    <url-pattern>/Viewresults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Scorecard</servlet-name>
    <servlet-class>Scorecard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scorecard</servlet-name>
    <url-pattern>/Scorecard</url-pattern>
  </servlet-mapping>
</web-app>